# **Waze Project**
**Course 5 - Regression analysis: Simplify complex data relationships**

Your team is more than halfway through their user churn project. Earlier, you completed a project proposal, used Python to explore and analyze Wazeâ€™s user data, created data visualizations, and conducted a hypothesis test. Now, leadership wants your team to build a regression model to predict user churn based on a variety of variables.

You check your inbox and discover a new email from Ursula Sayo, Waze's Operations Manager. Ursula asks your team about the details of the regression model. You also notice two follow-up emails from your supervisor, May Santner. The first email is a response to Ursula, and says that the team will build a binomial logistic regression model. In her second email, May asks you to help build the model and prepare an executive summary to share your results.

A notebook was structured and prepared to help you in this project. Please complete the following questions and prepare an executive summary.

# **Course 5 End-of-course project: Regression modeling**

In this activity, you will build a binomial logistic regression model. As you have learned, logistic regression helps you estimate the probability of an outcome. For data science professionals, this is a useful skill because it allows you to consider more than one variable against the variable you're measuring against. This opens the door for much more thorough and flexible analysis to be completed.
<br/>

**The purpose** of this project is to demostrate knowledge of exploratory data analysis (EDA) and a binomial logistic regression model.

**The goal** is to build a binomial logistic regression model and evaluate the model's performance.
<br/>

*This activity has three parts:*

**Part 1:** EDA & Checking Model Assumptions
* What are some purposes of EDA before constructing a binomial logistic regression model?

**Part 2:** Model Building and Evaluation
* What resources do you find yourself using as you complete this stage?

**Part 3:** Interpreting Model Results

* What key insights emerged from your model(s)?

* What business recommendations do you propose based on the models built?

<br/>

Follow the instructions and answer the question below to complete the activity. Then, you will complete an executive summary using the questions listed on the PACE Strategy Document.

Be sure to complete this activity before moving on. The next course item will provide you with a completed exemplar to compare to your own work.

# **Build a regression model**

<img src="images/Pace.png" width="100" height="100" align=left>

# **PACE stages**

Throughout these project notebooks, you'll see references to the problem-solving framework PACE. The following notebook components are labeled with the respective PACE stage: Plan, Analyze, Construct, and Execute.

<img src="images/Plan.png" width="100" height="100" align=left>


## **PACE: Plan**
Consider the questions in your PACE Strategy Document to reflect on the Plan stage.

### **Task 1. Imports and data loading**
Import the data and packages that you've learned are needed for building logistic regression models.

In [2]:
# Packages for numerics + dataframes
### YOUR CODE HERE ###
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import sklearn
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay, f1_score, recall_score, accuracy_score

# Packages for visualization
### YOUR CODE HERE ###

# Packages for Logistic Regression & Confusion Matrix
### YOUR CODE HERE ###

Import the dataset.

**Note:** As shown in this cell, the dataset has been automatically loaded in for you. You do not need to download the .csv file, or provide more code, in order to access the dataset and proceed with this lab. Please continue with this activity by completing the following instructions.

In [3]:
# Load the dataset by running this cell

df = pd.read_csv('waze_dataset.csv')

<img src="images/Analyze.png" width="100" height="100" align=left>

## **PACE: Analyze**

Consider the questions in your PACE Strategy Document to reflect on the Analyze stage.

In this stage, consider the following question:

* What are some purposes of EDA before constructing a binomial logistic regression model?

==> ENTER YOUR RESPONSE HERE

### **Task 2a. Explore data with EDA**

Analyze and discover data, looking for correlations, missing data, potential outliers, and/or duplicates.

Start with `.shape` and `info()`.

In [4]:
### YOUR CODE HERE ###
df.shape

(14999, 13)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       14999 non-null  int64
 1   label                    14299 non-null  object
 2   sessions                 14999 non-null  int64
 3   drives                   14999 non-null  int64
 4   total_sessions           14999 non-null  float64
 5   n_days_after_onboarding  14999 non-null  int64
 6   total_navigations_fav1   14999 non-null  int64
 7   total_navigations_fav2   14999 non-null  int64
 8   driven_km_drives         14999 non-null  float64
 9   duration_minutes_drives  14999 non-null  float64
 10  activity_days            14999 non-null  int64
 11  driving_days             14999 non-null  int64
 12  device                   14999 non-null  object
dtypes: float64(3), int64(8), object(2)
memory usage: 1.5+ MB

**Question:** Are there any missing values in your data?

==> ENTER YOUR RESPONSE HERE

Use `.head()`.

In [6]:
### YOUR CODE HERE ###
df.head()

,ID,label,sessions,drives,total_sessions,n_days_after_onboarding,total_navigations_fav1,total_navigations_fav2,driven_km_drives,duration_minutes_drives,activity_days,driving_days,device
0,0,retained,283,226,296.748273,2276,208,0,2628.845068,1985.775061,28,19,Android
1,1,retained,133,107,326.896596,1225,19,64,13715.920550,3160.472914,13,11,iPhone
2,2,retained,114,95,135.522926,2651,0,0,3059.148818,1610.735904,14,8,Android
3,3,retained,49,40,67.589221,15,322,7,913.591123,587.196542,7,3,iPhone
4,4,retained,84,68,168.247020,1562,166,5,3950.202008,1219.555924,27,18,Android

Use `.drop()` to remove the ID column since we don't need this information for your analysis.

In [7]:
### YOUR CODE HERE ###
df.drop('ID',axis=1,inplace=True)

Now, check the class balance of the dependent (target) variable, `label`.

In [8]:
### YOUR CODE HERE ###
df['label'].value_counts()

retained    11763
churned      2536
Name: label, dtype: int64

Call `.describe()` on the data.

In [9]:
### YOUR CODE HERE ###
df.describe()

,sessions,drives,total_sessions,n_days_after_onboarding,total_navigations_fav1,total_navigations_fav2,driven_km_drives,duration_minutes_drives,activity_days,driving_days
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000
mean,80.633776,67.281152,189.964447,1749.837789,121.605974,29.672512,4039.340921,1860.976012,15.537102,12.179879
std,80.699065,65.913872,136.405128,1008.513876,148.121544,45.394651,2502.149334,1446.702288,9.004655,7.824036
min,0.000000,0.000000,0.220211,4.000000,0.000000,0.000000,60.441250,18.282082,0.000000,0.000000
25%,23.000000,20.000000,90.661156,878.000000,9.000000,0.000000,2212.600607,835.996260,8.000000,5.000000
50%,56.000000,48.000000,159.568115,1741.000000,71.000000,9.000000,3493.858085,1478.249859,16.000000,12.000000
75%,112.000000,93.000000,254.192341,2623.500000,178.000000,43.000000,5289.861262,2464.362632,23.000000,19.000000
max,743.000000,596.000000,1216.154633,3500.000000,1236.000000,415.000000,21183.401890,15851.727160,31.000000,30.000000

**Question:** Are there any variables that could potentially have outliers just by assessing at the quartile values, standard deviation, and max values?

==> ENTER YOUR RESPONSE HERE

### **Task 2b. Create features**

Create features that may be of interest to the stakeholder and/or that are needed to address the business scenario/problem.

#### **`km_per_driving_day`**

You know from earlier EDA that churn rate correlates with distance driven per driving day in the last month. It might be helpful to engineer a feature that captures this information.

1. Create a new column in `df` called `km_per_driving_day`, which represents the mean distance driven per driving day for each user.

2. Call the `describe()` method on the new column.

In [10]:
# 1. Create `km_per_driving_day` column
### YOUR CODE HERE ###
df['km_per_driving_day']=df['driven_km_drives'].mean()/df['driving_days']

# 2. Call `describe()` on the new column
### YOUR CODE HERE ###.d
df['km_per_driving_day'].describe()

count    1.499900e+04
mean              inf
std               NaN
min      1.346447e+02
25%      2.125969e+02
50%      3.366117e+02
75%      8.078682e+02
max               inf
Name: km_per_driving_day, dtype: float64

Note that some values are infinite. This is the result of there being values of zero in the `driving_days` column. Pandas imputes a value of infinity in the corresponding rows of the new column because division by zero is undefined.

1. Convert these values from infinity to zero. You can use `np.inf` to refer to a value of infinity.

2. Call `describe()` on the `km_per_driving_day` column to verify that it worked.

In [11]:
# 1. Convert infinite values to zero
### YOUR CODE HERE ###
df['km_per_driving_day'][df['km_per_driving_day']==np.inf]=0

# 2. Confirm that it worked
### YOUR CODE HERE ###
df[df['km_per_driving_day']==0]

,label,sessions,drives,total_sessions,n_days_after_onboarding,total_navigations_fav1,total_navigations_fav2,driven_km_drives,duration_minutes_drives,activity_days,driving_days,device,km_per_driving_day
13,retained,80,64,132.830506,3154,39,16,8531.248070,6324.273457,1,0,Android,0.0
14,churned,72,66,401.351809,2524,54,24,5922.811202,2227.280393,0,0,Android,0.0
56,churned,150,127,187.708346,2028,208,132,1396.461977,496.620891,0,0,iPhone,0.0
64,retained,4,3,113.818787,1830,233,0,9624.439528,3213.049582,6,0,Android,0.0
81,churned,26,23,83.166886,2118,335,0,944.204641,455.026306,2,0,Android,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14881,retained,174,151,181.187455,2255,103,31,2647.541976,561.344796,2,0,iPhone,0.0
14957,retained,24,24,42.953281,762,17,0,1466.793380,597.834311,2,0,Android,0.0
14985,churned,53,43,118.385655,65,23,49,1661.143357,1161.205518,4,0,iPhone,0.0
14988,churned,13,11,41.804981,770,132,87,1533.521450,823.418616,0,0,Android,0.0
14990,churned,73,61,329.904300,614,60,46,6090.450154,3323.880771,0,0,Android,0.0

#### **`professional_driver`**

Create a new, binary feature called `professional_driver` that is a 1 for users who had 60 or more drives <u>**and**</u> drove on 15+ days in the last month.

**Note:** The objective is to create a new feature that separates professional drivers from other drivers. In this scenario, domain knowledge and intuition are used to determine these deciding thresholds, but ultimately they are arbitrary.

To create this column, use the [`np.where()`](https://numpy.org/doc/stable/reference/generated/numpy.where.html) function. This function accepts as arguments:
1. A condition
2. What to return when the condition is true
3. What to return when the condition is false

```
Example:
x = [1, 2, 3]
x = np.where(x > 2, 100, 0)
x
array([  0,   0, 100])
```

In [12]:
# Create `professional_driver` column
### YOUR CODE HERE ###

df.assign(professional_driver = 1 if (df['drives']>60).any() & (df['driving_days']>15).any() else 0)

,label,sessions,drives,total_sessions,n_days_after_onboarding,total_navigations_fav1,total_navigations_fav2,driven_km_drives,duration_minutes_drives,activity_days,driving_days,device,km_per_driving_day,professional_driver
0,retained,283,226,296.748273,2276,208,0,2628.845068,1985.775061,28,19,Android,212.596891,1
1,retained,133,107,326.896596,1225,19,64,13715.920550,3160.472914,13,11,iPhone,367.212811,1
2,retained,114,95,135.522926,2651,0,0,3059.148818,1610.735904,14,8,Android,504.917615,1
3,retained,49,40,67.589221,15,322,7,913.591123,587.196542,7,3,iPhone,1346.446974,1
4,retained,84,68,168.247020,1562,166,5,3950.202008,1219.555924,27,18,Android,224.407829,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14994,retained,60,55,207.875622,140,317,0,2890.496901,2186.155708,25,17,iPhone,237.608289,1
14995,retained,42,35,187.670313,2505,15,10,4062.575194,1208.583193,25,20,Android,201.967046,1
14996,retained,273,219,422.017241,1873,17,0,3097.825028,1031.278706,18,17,iPhone,237.608289,1
14997,churned,149,120,180.524184,3150,45,0,4051.758549,254.187763,6,6,iPhone,673.223487,1
14998,retained,73,58,353.419797,3383,13,51,6030.498773,3042.436423,14,13,iPhone,310.718532,1

In [13]:
#Perform a quick inspection of the new variable.

#1. Check the count of professional drivers and non-professionals
df_1=df
df_1['professional_driver'].value_counts()
#2. Within each class (professional and non-professional) calculate the churn rate

KeyError: 'professional_driver'

In [14]:

# 2. Check in-class churn rate
### YOUR CODE HERE ###
df['label'].value_counts()[1]/df.shape[1]

195.07692307692307

The churn rate for professional drivers is 7.6%, while the churn rate for non-professionals is 19.9%. This seems like it could add predictive signal to the model.

<img src="images/Construct.png" width="100" height="100" align=left>

## **PACE: Construct**

After analysis and deriving variables with close relationships, it is time to begin constructing the model.

Consider the questions in your PACE Strategy Document to reflect on the Construct stage.

In this stage, consider the following question:

* Why did you select the X variables you did?

==> ENTER YOUR RESPONSE HERE

### **Task 3a. Preparing variables**

Call `info()` on the dataframe to check the data type of the `label` variable and to verify if there are any missing values.

In [126]:
### YOUR CODE HERE ###
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   label                    14299 non-null  object
 1   sessions                 14999 non-null  int64
 2   drives                   14999 non-null  int64
 3   total_sessions           14999 non-null  float64
 4   n_days_after_onboarding  14999 non-null  int64
 5   total_navigations_fav1   14999 non-null  int64
 6   total_navigations_fav2   14999 non-null  int64
 7   driven_km_drives         14999 non-null  float64
 8   duration_minutes_drives  14999 non-null  float64
 9   activity_days            14999 non-null  int64
 10  driving_days             14999 non-null  int64
 11  device                   14999 non-null  object
 12  km_per_driving_day       14999 non-null  float64
dtypes: float64(4), int64(7), object(2)
memory usage: 1.5+ MB

Because you know from previous EDA that there is no evidence of a non-random cause of the 700 missing values in the `label` column, and because these observations comprise less than 5% of the data, use the `dropna()` method to drop the rows that are missing this data.

In [127]:
# Drop rows with missing data in `label` column
### YOUR CODE HERE ###

r_i=df[df['label'].isna()==True].index.tolist()
df.drop(index=r_i,axis=0,inplace=True)

In [128]:
df

,label,sessions,drives,total_sessions,n_days_after_onboarding,total_navigations_fav1,total_navigations_fav2,driven_km_drives,duration_minutes_drives,activity_days,driving_days,device,km_per_driving_day
0,retained,283,226,296.748273,2276,208,0,2628.845068,1985.775061,28,19,Android,212.596891
1,retained,133,107,326.896596,1225,19,64,13715.920550,3160.472914,13,11,iPhone,367.212811
2,retained,114,95,135.522926,2651,0,0,3059.148818,1610.735904,14,8,Android,504.917615
3,retained,49,40,67.589221,15,322,7,913.591123,587.196542,7,3,iPhone,1346.446974
4,retained,84,68,168.247020,1562,166,5,3950.202008,1219.555924,27,18,Android,224.407829
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14994,retained,60,55,207.875622,140,317,0,2890.496901,2186.155708,25,17,iPhone,237.608289
14995,retained,42,35,187.670313,2505,15,10,4062.575194,1208.583193,25,20,Android,201.967046
14996,retained,273,219,422.017241,1873,17,0,3097.825028,1031.278706,18,17,iPhone,237.608289
14997,churned,149,120,180.524184,3150,45,0,4051.758549,254.187763,6,6,iPhone,673.223487
14998,retained,73,58,353.419797,3383,13,51,6030.498773,3042.436423,14,13,iPhone,310.718532

#### **Impute outliers**

You rarely want to drop outliers, and generally will not do so unless there is a clear reason for it (e.g., typographic errors).

At times outliers can be changed to the **median, mean, 95th percentile, etc.**

Previously, you determined that seven of the variables had clear signs of containing outliers:

* `sessions`
* `drives`
* `total_sessions`
* `total_navigations_fav1`
* `total_navigations_fav2`
* `driven_km_drives`
* `duration_minutes_drives`

For this analysis, impute the outlying values for these columns. Calculate the **95th percentile** of each column and change to this value any value in the column that exceeds it.

Call `describe()`.

In [129]:
### YOUR CODE HERE ###
df.describe()

,sessions,drives,total_sessions,n_days_after_onboarding,total_navigations_fav1,total_navigations_fav2,driven_km_drives,duration_minutes_drives,activity_days,driving_days,km_per_driving_day
count,14299.000000,14299.000000,14299.000000,14299.000000,14299.000000,14299.000000,14299.000000,14299.000000,14299.000000,14299.000000,14299.000000
mean,80.623820,67.255822,189.547409,1751.822505,121.747395,29.638296,4044.401535,1864.199794,15.544653,12.182530,573.252623
std,80.736502,65.947295,136.189764,1008.663834,147.713428,45.350890,2504.977970,1448.005047,9.016088,7.833835,802.162099
min,0.000000,0.000000,0.220211,4.000000,0.000000,0.000000,60.441250,18.282082,0.000000,0.000000,0.000000
25%,23.000000,20.000000,90.457733,878.500000,10.000000,0.000000,2217.319909,840.181344,8.000000,5.000000,201.967046
50%,56.000000,48.000000,158.718571,1749.000000,71.000000,9.000000,3496.545617,1479.394387,16.000000,12.000000,288.524351
75%,111.000000,93.000000,253.540450,2627.500000,178.000000,43.000000,5299.972162,2466.928876,23.000000,19.000000,577.048703
max,743.000000,596.000000,1216.154633,3500.000000,1236.000000,415.000000,21183.401890,15851.727160,31.000000,30.000000,4039.340921

#### **Encode categorical variables**

Change the data type of the `label` column to be binary. This change is needed to train a logistic regression model.

Assign a `0` for all `retained` users.

Assign a `1` for all `churned` users.

Save this variable as `label2` as to not overwrite the original `label` variable.

**Note:** There are many ways to do this. Consider using `np.where()` as you did earlier in this notebook.

In [130]:
# Create binary `label2` column
### YOUR CODE HERE ###
df['label2']=df['label'].apply(lambda x: 0 if x=='retained' else 1)
df['label2']

0        0
1        0
2        0
3        0
4        0
        ..
14994    0
14995    0
14996    0
14997    1
14998    0
Name: label2, Length: 14299, dtype: int64

### **Task 3b. Determine whether assumptions have been met**

The following are the assumptions for logistic regression:

* Independent observations (This refers to how the data was collected.)

* No extreme outliers

* Little to no multicollinearity among X predictors

* Linear relationship between X and the **logit** of y

For the first assumption, you can assume that observations are independent for this project.

The second assumption has already been addressed.

The last assumption will be verified after modeling.

**Note:** In practice, modeling assumptions are often violated, and depending on the specifics of your use case and the severity of the violation, it might not affect your model much at all or it will result in a failed model.

#### **Collinearity**

Check the correlation among predictor variables. First, generate a correlation matrix.

In [131]:
# Generate a correlation matrix
### YOUR CODE HERE ###
#df1=df.drop(['label','device'],axis=1,inplace=True)

In [132]:
df1

Now, plot a correlation heatmap.

In [133]:
# Plot correlation heatmap
### YOUR CODE HERE ###

If there are predictor variables that have a Pearson correlation coefficient value greater than the **absolute value of 0.7**, these variables are strongly multicollinear. Therefore, only one of these variables should be used in your model.

**Note:** 0.7 is an arbitrary threshold. Some industries may use 0.6, 0.8, etc.

**Question:** Which variables are multicollinear with each other?

==> ENTER YOUR RESPONSE HERE

### **Task 3c. Create dummies (if necessary)**

If you have selected `device` as an X variable, you will need to create dummy variables since this variable is categorical.

In cases with many categorical variables, you can use pandas built-in [`pd.get_dummies()`](https://pandas.pydata.org/docs/reference/api/pandas.get_dummies.html), or you can use scikit-learn's [`OneHotEncoder()`](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html) function.

**Note:** Variables with many categories should only be dummied if absolutely necessary. Each category will result in a coefficient for your model which can lead to overfitting.

Because this dataset only has one remaining categorical feature (`device`), it's not necessary to use one of these special functions. You can just implement the transformation directly.

Create a new, binary column called `device2` that encodes user devices as follows:

* `Android` -> `0`
* `iPhone` -> `1`

In [134]:
# Create new `device2` variable
### YOUR CODE HERE ###
model=LabelEncoder()
df['device2']=model.fit_transform(df['device'])
df['device2']

0        0
1        1
2        0
3        1
4        0
        ..
14994    1
14995    0
14996    1
14997    1
14998    1
Name: device2, Length: 14299, dtype: int64

### **Task 3d. Model building**

#### **Assign predictor variables and target**

To build your model you need to determine what X variables you want to include in your model to predict your target&mdash;`label2`.

Drop the following variables and assign the results to `X`:

* `label` (this is the target)
* `label2` (this is the target)
* `device` (this is the non-binary-encoded categorical variable)
* `sessions` (this had high multicollinearity)
* `driving_days` (this had high multicollinearity)

**Note:** Notice that `sessions` and `driving_days` were selected to be dropped, rather than `drives` and `activity_days`. The reason for this is that the features that were kept for modeling had slightly stronger correlations with the target variable than the features that were dropped.

In [135]:
# Isolate predictor variables
### YOUR CODE HERE ###
X=df.drop(['label','label2','device','sessions','driving_days'],axis=1)
X

,drives,total_sessions,n_days_after_onboarding,total_navigations_fav1,total_navigations_fav2,driven_km_drives,duration_minutes_drives,activity_days,km_per_driving_day,device2
0,226,296.748273,2276,208,0,2628.845068,1985.775061,28,212.596891,0
1,107,326.896596,1225,19,64,13715.920550,3160.472914,13,367.212811,1
2,95,135.522926,2651,0,0,3059.148818,1610.735904,14,504.917615,0
3,40,67.589221,15,322,7,913.591123,587.196542,7,1346.446974,1
4,68,168.247020,1562,166,5,3950.202008,1219.555924,27,224.407829,0
...,...,...,...,...,...,...,...,...,...,...
14994,55,207.875622,140,317,0,2890.496901,2186.155708,25,237.608289,1
14995,35,187.670313,2505,15,10,4062.575194,1208.583193,25,201.967046,0
14996,219,422.017241,1873,17,0,3097.825028,1031.278706,18,237.608289,1
14997,120,180.524184,3150,45,0,4051.758549,254.187763,6,673.223487,1
14998,58,353.419797,3383,13,51,6030.498773,3042.436423,14,310.718532,1

Now, isolate the dependent (target) variable. Assign it to a variable called `y`.

In [136]:
# Isolate target variable
### YOUR CODE HERE ###
y=df['label2']
y

0        0
1        0
2        0
3        0
4        0
        ..
14994    0
14995    0
14996    0
14997    1
14998    0
Name: label2, Length: 14299, dtype: int64

#### **Split the data**

Use scikit-learn's [`train_test_split()`](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html) function to perform a train/test split on your data using the X and y variables you assigned above.

**Note 1:** It is important to do a train test to obtain accurate predictions.  You always want to fit your model on your training set and evaluate your model on your test set to avoid data leakage.

**Note 2:** Because the target class is imbalanced (82% retained vs. 18% churned), you want to make sure that you don't get an unlucky split that over- or under-represents the frequency of the minority class. Set the function's `stratify` parameter to `y` to ensure that the minority class appears in both train and test sets in the same proportion that it does in the overall dataset.

In [137]:
# Perform the train-test split
### YOUR CODE HERE ###
x_train,x_test,y_train,y_test=train_test_split(X,y,random_state=5656,test_size=0.4)

In [1]:
# Use .head()
### YOUR CODE HERE ###
x_train

NameError: name 'x_train' is not defined

Use scikit-learn to instantiate a logistic regression model. Add the argument `penalty = None`.

It is important to add `penalty = None` since your predictors are unscaled.

Refer to scikit-learn's [logistic regression](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html) documentation for more information.

Fit the model on `X_train` and `y_train`.

In [142]:
### YOUR CODE HERE ###
m_l=LogisticRegression(penalty='none')
m_l.fit(x_train,y_train)

AttributeError: 'str' object has no attribute 'decode'

Call the `.coef_` attribute on the model to get the coefficients of each variable.  The coefficients are in order of how the variables are listed in the dataset.  Remember that the coefficients represent the change in the **log odds** of the target variable for **every one unit increase in X**.

If you want, create a series whose index is the column names and whose values are the coefficients in `model.coef_`.

In [ ]:
### YOUR CODE HERE ###
model.coef_

Call the model's `intercept_` attribute to get the intercept of the model.

In [ ]:
### YOUR CODE HERE ###

#### **Check final assumption**

Verify the linear relationship between X and the estimated log odds (known as logits) by making a regplot.

Call the model's `predict_proba()` method to generate the probability of response for each sample in the training data. (The training data is the argument to the method.) Assign the result to a variable called `training_probabilities`. This results in a 2-D array where each row represents a user in `X_train`. The first column is the probability of the user not churning, and the second column is the probability of the user churning.

In [ ]:
# Get the predicted probabilities of the training data
### YOUR CODE HERE ###

In logistic regression, the relationship between a predictor variable and the dependent variable does not need to be linear, however, the log-odds (a.k.a., logit) of the dependent variable with respect to the predictor variable should be linear. Here is the formula for calculating log-odds, where _p_ is the probability of response:
<br>
$$
logit(p) = ln(\frac{p}{1-p})
$$
<br>

1. Create a dataframe called `logit_data` that is a copy of `df`.

2. Create a new column called `logit` in the `logit_data` dataframe. The data in this column should represent the logit for each user.

In [ ]:
# 1. Copy the `X_train` dataframe and assign to `logit_data`
### YOUR CODE HERE ###

# 2. Create a new `logit` column in the `logit_data` df
### YOUR CODE HERE ###

Plot a regplot where the x-axis represents an independent variable and the y-axis represents the log-odds of the predicted probabilities.

In an exhaustive analysis, this would be plotted for each continuous or discrete predictor variable. Here we show only `driving_days`.

In [ ]:
# Plot regplot of `activity_days` log-odds
### YOUR CODE HERE ###

<img src="images/Execute.png" width="100" height="100" align=left>

## **PACE: Execute**

Consider the questions in your PACE Strategy Document to reflect on the Execute stage.

### **Task 4a. Results and evaluation**

If the logistic assumptions are met, the model results can be appropriately interpreted.

Use the code block below to make predictions on the test data.

In [ ]:
# Generate predictions on X_test
### YOUR CODE HERE ###

Now, use the `score()` method on the model with `X_test` and `y_test` as its two arguments. The default score in scikit-learn is **accuracy**.  What is the accuracy of your model?

*Consider:  Is accuracy the best metric to use to evaluate this model?*

In [ ]:
# Score the model (accuracy) on the test data
### YOUR CODE HERE ###

### **Task 4b. Show results with a confusion matrix**

Use the `confusion_matrix` function to obtain a confusion matrix. Use `y_test` and `y_preds` as arguments.

In [ ]:
### YOUR CODE HERE ###

Next, use the `ConfusionMatrixDisplay()` function to display the confusion matrix from the above cell, passing the confusion matrix you just created as its argument.

In [ ]:
### YOUR CODE HERE ###

You can use the confusion matrix to compute precision and recall manually. You can also use scikit-learn's [`classification_report()`](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.classification_report.html) function to generate a table from `y_test` and `y_preds`.

In [ ]:
# Calculate precision manually
### YOUR CODE HERE ###

In [ ]:
# Calculate recall manually
### YOUR CODE HERE ###

In [ ]:
# Create a classification report
### YOUR CODE HERE ###

**Note:** The model has decent precision but very low recall, which means that it makes a lot of false negative predictions and fails to capture users who will churn.

### **BONUS**

Generate a bar graph of the model's coefficients for a visual representation of the importance of the model's features.

In [ ]:
# Create a list of (column_name, coefficient) tuples
### YOUR CODE HERE ###

# Sort the list by coefficient value
### YOUR CODE HERE ###

In [ ]:
# Plot the feature importances
### YOUR CODE HERE ###

### **Task 4c. Conclusion**

Now that you've built your regression model, the next step is to share your findings with the Waze leadership team. Consider the following questions as you prepare to write your executive summary. Think about key points you may want to share with the team, and what information is most relevant to the user churn project.

**Questions:**

1. What variable most influenced the model's prediction? How? Was this surprising?

2. Were there any variables that you expected to be stronger predictors than they were?

3. Why might a variable you thought to be important not be important in the model?

4. Would you recommend that Waze use this model? Why or why not?

5. What could you do to improve this model?

6. What additional features would you like to have to help improve the model?

==> ENTER YOUR RESPONSES TO QUESTIONS 1-6 HERE

**Congratulations!** You've completed this lab. However, you may not notice a green check mark next to this item on Coursera's platform. Please continue your progress regardless of the check mark. Just click on the "save" icon at the top of this notebook to ensure your work has been logged.